<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/nav.ejs %>
	<script src="/js/list.js"></script>
	<div id="video-list-container">
		<div id="list-chunk-container"></div>
		<div style="clear:both;"></div>
	</div>
	<% include ../partials/footer.ejs %>
</body>
</html>
